@using StudentMS.Entities
@model List<Instructor>



<table class="table">
    <tr>
        <td><a href="/instructor/index?columnName=id&orderBY=@ViewBag.OrderBY">Id</a></td>
        <td><a href="/instructor/index?columnName=FirstName&orderBY=@ViewBag.OrderBY">First Name</a></td>
        <td><a href="/instructor/index?columnName=LastName&orderBY=@ViewBag.OrderBY">Last Name</a></td>
        <td><a href="/instructor/index?columnName=Department&orderBY=@ViewBag.OrderBY">Department</a></td>
        <td><a href="/instructor/index?columnName=Email&orderBY=@ViewBag.OrderBY">Email</a></td>
        <td><a href="/instructor/index?columnName=Salary&orderBY=@ViewBag.OrderBY">Salary</a></td>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.FirstName</td>
    <td>@item.LastName</td>
    <td>@item.Department</td>
    <td>@item.Email</td>
    <td>@item.Salary</td>
</tr>}





</table>